.banner {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 0 10px;
    min-height: 12vh;
    position: relative;
    background-color: #ecebeb;

    &::after {
        content: "";
        @include position(absolute, 0, 0, 0, 0, 0.8, -1);
        background-color: lighten(#ecebeb, 3);
        box-shadow: inset 0px -2px 3px -1px rgba(0, 0, 0, 0.5);
    }

    &:hover {
        &::after {
            z-index: 0;
            opacity: 0.3;
        }
    }

    &__titre {
        font-size: 1em;
        margin-right: 35px;
        font-weight: 500;
        margin: 0;
        z-index: 1;
    }

    &--button {
        @include flex(row, flex-end, center);
        @include position(relative, auto, auto, auto, auto, 1, 1);
        cursor: pointer;
        border-radius: 10px;
        border: none;
        background-color: #3d99be;
        width: 45px;
        height: 45px;
        margin: 0 5px 0 15px;

        &::after {
            content: "";
            @include position(absolute, 0, 0, 0, 0, 0, -1);
            position: absolute;
            border-radius: 10px 10px;
        }

        &::before {
            content: "";
            @include position(absolute, 0, 0, 0, 0, 0, 1);
        }

        &__icone {
            height: 42px;
            width: 100%;
        }
    }

    @media (min-width: 456px) and (pointer: fine) {
        padding: 0 50px;

        &__titre {
            font-size: 1.9em;
        }

        &--button {
            width: 55px;
            height: 55px;
            margin: 0 0px 0 15px;

            &:hover {
                &::after {
                    opacity: 1;
                    transition: opacity 300ms;
                    background: linear-gradient(270deg, #3d99be 0%, #3ab5b0 100%);
                }
            }
        }
    }

    @media (min-width: 768px) and (pointer: fine) {
        &__titre {
            font-size: 2.3em;
        }

        &--button {
            width: 75px;
            height: 75px;
            margin: 17px 0px 17px 15px;
        }
    }

    @media (min-width: 990px) and (pointer: fine) {
        padding: 0 100px;
    }

    @media (min-width: 1288px) and (pointer: fine) {
        padding: 0 150px;
    }
}

.active {
    @include flex(row, flex-end, center);
    @include position(relative, auto, auto, auto, auto, 1, 1);
    font-size: 1.7em;
    cursor: pointer;
    border-radius: 10px 10px;
    border: none;
    transition: opacity 300ms;
    background-color: #3ab5b0;
    width: 45px;
    height: 45px;
    margin: 0 5px 0 15px;

    &::after {
        content: "";
        @include position(absolute, 0, 0, 0, 0, 0, -1);
        border-radius: 10px 10px;
    }

    @media (min-width: 456px) and (pointer: fine) {
        width: 55px;
        height: 55px;
        margin: 0 0px 0 15px;

        &:hover {
            &::after {
                opacity: 1;
                transition: opacity 300ms;
                background: linear-gradient(270deg, #3d99be 0%, #3ab5b0 100%);
            }
        }
    }

    @media (min-width: 768px) and (pointer: fine) {
        width: 75px;
        height: 75px;
        margin: 17px 0px 17px 15px;
    }
}