.sidebar_conteneur {
    @include flex(column, center, stretch);
    background-color: $blue-color;
    height: 330px;
    width: 100%;
    margin-bottom: 35px;

    &__menu {
        @include flex(column, space-around, stretch);
        height: 300px;
        list-style-type: none;
        padding: 0;
    }

    &__li {
        display: flex;
    }

    &--button {
        @include flex(row, space-around, center);
        @include position(relative, auto, auto, auto, auto, 1, 1);
        width: 70%;
        height: 45px;
        border-radius: 10px;
        cursor: pointer;
        margin: auto;
        font-size: 1.2em;
        font-weight: 540;
        color: $white-color;
        background: darken($blue-color, 30%);
        border: none;

        &::before {
            content: "";
            @include position(absolute, 0, 0, 0, 0, 1, 0);
        }

        &::after {
            content: "";
            @include position(absolute, 0, 0, 0, 0, 0, -1);
            border-radius: 10px;
            background: $white-color;
            outline: solid 4px darken($blue-color, 30%);
        }


        &:not(.button):hover {
            transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
            color: black;

            &::after {
                transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
                opacity: 1;
            }
        }
    }

    &__icone {
        @include flex(row, space-around, stretch);
        @include position(absolute, auto, auto, 0, auto, 1, 1);
        width: 100%;
        background-color: #cfcfcf;
    }

    &__linkedin {
        display: flex;
        cursor: pointer;
        font-size: 45px;
        color: black;
        margin: 25px;
    }

    &__github {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 45px;
        color: black;
    }

    @media (min-width: 1000px) and (pointer: fine) {
        @include flex(column, space-evenly, stretch);
        border-radius: 0 10px 0 0;
        height: 88vh;
        width: 280px;
        margin-bottom: 0px;

        &__menu {
            height: 300px;
        }

        &__icone {
            @include flex(row, space-around, stretch);
            position: static;
            background-color: $blue-color;
        }

        &:hover {
            background-color: lighten($blue-color, 5);
        }

        &:hover>&__icone {
            background-color: lighten($blue-color, 5);
        }
    }

    // @media (max-width: 1082px) and (orientation: landscape) and (pointer: fine) {
    //     @include flex(column, center, stretch);
    //     height: 330px;
    //     width: 100%;
    //     margin-bottom: 35px;
    //     border-radius: 0;

    //     &__icone {
    //         @include flex(row, space-around, stretch);
    //         @include position(absolute, auto, auto, 0, auto, 1, 1);
    //         width: 100%;
    //         background-color: #cfcfcf;
    //     }

    // &:hover>&__icone {
    //     background-color: #cfcfcf;

    // }
    //     }
}

.button {
    @include flex(row, space-around, center);
    width: 70%;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    font-size: 1.2em;
    font-weight: 540;
    @include position(relative, auto, auto, auto, auto, 1, 1);
    background-color: $white-color;
    box-shadow: 0px 2px 10px 1px RGB(0 0 0 / 35%);
    border: none;
    outline: solid 4px #5fa551;
}

.rotate {
    transform: rotate(0deg);

    @media (min-width: 1000px) and (pointer: fine) {
        transform: rotate(-90deg);
    }

    // @media (max-width: 1082px) and (orientation: landscape) and (pointer: fine) {
    //     transform: rotate(0deg);
    // }
}

.rotateinit {
    transform: rotate(180deg);

    @media (min-width: 1000px) and (pointer: fine) {
        transform: rotate(0deg);
    }

    // @media (max-width: 1082px) and (orientation: landscape) and (pointer: fine) {
    //     transform: rotate(180deg);
    // }
}