.conteneurabout {
    display: flex;
    margin-bottom: 130px;
    width: 100%;

    &__div {
        @include flex(column-reverse, normal, stretch);
        @include container();
        padding: 0 10px;
        width: 95%;
    }

    &__paragraphe {
        text-align: justify;
        width: 100%;
    }

    &__img {
        height: 120px;
        border-radius: 50%;
        margin: auto;
    }

    @media (min-width: 768px) and (pointer: fine) {

        &__div {
            @include flex(column-reverse, space-between, stretch);
            flex-wrap: wrap;
            padding: 0 20px;
        }

        &__titre {
            display: inline-block;
            width: 50%;
            font-weight: 500;
        }

        &__paragraphe {
            width: 100%;
        }
    }

    @media (min-width: 962px) and (pointer: fine) {
        &__div {
            @include flex(row, space-between, stretch);
            flex-wrap: nowrap;
        }

        &__img {
            height: 286px;
            border-radius: 10%;
        }

        &__paragraphe {
            width: 95%;
        }
    }

    // @media (max-width: 1082px) and (orientation: landscape) and (pointer: fine) {
    //     margin-bottom: 130px;

    //     &__div {
    //         @include flex(column-reverse, space-between, stretch);
    //         width: 95%;
    //     }
    // }

    @media (min-width: 1000px) and (pointer: fine) {
        width: 100%;
        margin-bottom: 0px;

        &__div {
            width: 95.713%;
        }
    }

    @media (min-width: 1205px) and (pointer: fine) {
        &__div {
            width: 75%;
        }
    }

    @media (min-width: 1532px) and (pointer: fine) {
        &__div {
            width: 65.713%;
        }

        &__img {
            height: 386px;
        }
    }
}