.accueil__conteneur {
    @include flex(row, space-around, stretch);
    width: 100%;
    margin-bottom: 130px;
    padding: 0 20px;

    &__figure {
        @include flex(column, normal, stretch);
        margin: auto;
    }

    &__ordi {
        width: 100%;
        margin: 20px 0 50px 0;
    }

    &__imgacc {
        @include flex(row, normal, center);
        width: 100%;
        height: auto;
        margin: auto;
        aspect-ratio: 16/10.42;
    }

    &__logo {
        @include flex(row, center, stretch);
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 30px;
    }

    &__html5 {
        width: 100px;
        height: 100px;
    }

    &__react {
        width: 67px;
        height: 100px;
    }

    &__CSS3 {
        width: 71px;
        height: 100px;
    }

    &__sass {
        width: 129px;
        height: 100px;
    }

    &__js {
        width: 100px;
        height: 100px;
    }

    &__nodejs {
        width: 163px;
        height: 100px;
    }

    // @media (min-width: 768px) and (pointer: fine) {
    //     margin-bottom: 0px;
    // }

    @media (max-height: 832px) and (pointer: fine) {
        &__imgacc {
            width: 80%;
        }
    }

    @media (min-width: 851px) and (pointer: fine) {
        margin-bottom: 130px;
    }

    @media (min-width: 1000px) and (pointer: fine) {
        margin-bottom: 0px;
        height: 88vh;
        padding: 0;

        &__imgacc {
            width: 95.713%;
        }

        &__logo {
            flex-flow: row wrap;
        }

        &__ordi {
            margin: 20px 0 0 0;
        }

        &__html5 {
            width: 90%;
            height: auto;
        }

        &__react {
            width: 90%;
            height: auto;
        }

        &__CSS3 {
            width: 90%;
            height: auto;
        }

        &__sass {
            width: 90%;
            height: auto;
        }

        &__js {
            width: 90%;
            height: auto;
        }

        &__nodejs {
            width: 90%;
            height: auto;
        }
    }

    @media (min-width: 1016px) and (pointer: fine) {

        &__html5 {
            width: 100%;
        }

        &__react {
            width: 100%;
        }

        &__CSS3 {
            width: 100%;
        }

        &__sass {
            width: 100%;
        }

        &__js {
            width: 100%;
        }

        &__nodejs {
            width: 100%;
        }
    }
}