.conteneurcontact {
    margin-bottom: 130px;

    &__div {
        @include flex(column, space-between, stretch);
        @include container();
        padding: 10px;
        width: 95%;
        position: relative;
    }

    &__h2 {
        margin: auto;
        font-weight: 500;
    }

    &__form {
        margin: auto;
        width: 86.87%;
    }

    &__formulaire {
        @include flex(column, normal, stretch);
        margin: 0px;
    }

    &__label {
        margin: 5px;
    }

    &__input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid;
        margin: 5px;
        border: none;

        &:hover {
            outline: solid 2px rgb(110, 172, 108);
        }
    }

    &__descriptif {
        width: 100%;
        height: 125px;
        border-radius: 5px;
        resize: none;
        margin: 5px;
        border: none;

        &:hover {
            outline: solid 2px rgb(110, 172, 108);
        }
    }

    &--bouton {
        width: 50%;
        border: none;
        border-radius: 10em;
        background-color: $white-color;
        box-shadow: 1px 5px 10px 1px RGB(0 0 0 / 35%);
        background: linear-gradient(to bottom right, lighten(#f5f0e1, 15), lighten(#1e3d59, 10));
        margin: 10px auto;
        position: relative;
        height: 50px;
        opacity: 1;
        z-index: 1;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            z-index: -1;
            background: linear-gradient(to bottom right, lighten(#f5f0e1, 5), lighten(#1e3d59, 5));
            border-radius: 10em;
            box-shadow: 0px 2px 10px 1px RGB(0 0 0 / 35%);
        }

        &:hover {
            &::after {
                opacity: 1;
                transition: opacity 300ms;
            }
        }
    }

    @media (min-width: 768px) and (pointer: fine) {
        width: 100%;

        &__div {
            width: 80%;
        }

        &__form {
            width: 66.87%;
        }
    }

    @media (min-width: 962px) and (pointer: fine) {
        &__div {
            width: 70%;
        }
    }

    @media (min-width: 1000px) and (pointer: fine) {
        margin: auto;
    }

    @media (min-width: 1200px) and (pointer: fine) {
        &__div {
            width: 60%;
        }
    }

    @media (min-width: 1532px) {
        &__div {
            width: 50%;
        }
    }
}

.invalid {
    outline: solid 2px red;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
}

.invaliddes {
    outline: solid 2px red;
    width: 100%;
    height: 125px;
    border-radius: 5px;
    resize: none;
    margin: 5px;
    border: none;
}

.modal {
    position: absolute;
    top: 10%;
    right: 25%;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    background-color: #FBFBFB;
    border: #282D30 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    transform: scale(1);
    transition: $transition;
}

.remove {

    transform: scale(0);
    transition: $transition;
    background: rgb(0, 0, 0);
    opacity: 0;
    border: none;
    // clip-path: circle(0);
    // height: 1px;
    // margin: -1px;
    overflow: hidden;
    padding: 0;
    // width: 1px;
}