.portfolio__conteneur {
    width: 100%;
    display: flex;
    margin-bottom: 130px;

    &__element {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(14, auto);
        @include container();
        gap: 10px;
        grid-auto-flow: dense;
        padding: 2% 2% 2% 2%;
    }

    &__section {
        align-self: center;
        justify-self: center;
    }

    &__figure {
        display: inline-block;
        position: relative;
        margin: 0;
        cursor: pointer;
    }

    &__img {
        width: 100%;

        &:hover {
            outline: solid 2px rgb(110, 172, 108);
        }
    }

    // @media (max-width: 767px) and (pointer: fine) {
    //     &__element {
    //         grid-template-columns: repeat(1, 1fr);
    //         grid-template-rows: repeat(14, auto);
    //     }
    // }

    // @media (min-width: 768px) and (pointer: fine) {
    //     width: 100%;
    //     margin-bottom: 0px;

    //     &__element {
    //         grid-template-columns: repeat(4, 1fr);
    //         grid-template-rows: repeat(4, auto);
    //     }
    // }

    @media (max-width: 920px) and (pointer: fine) {
        &__element {
            height: 95%;
        }
    }

    // @media (max-width: 1000px) and (pointer: fine) {
    //     margin-bottom: 130px;

    // &__element {
    //     grid-template-columns: repeat(1, 1fr);
    //     grid-template-rows: repeat(14, auto);
    // }
    // }

    @media (min-width: 1000px) and (pointer: fine) {
        margin-bottom: 0px;

        &__element {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, auto);
            width: 95.713%;
            height: 85%;
        }
    }

    @media (min-width: 1355px) and (pointer: fine) {
        margin-bottom: 0px;

        &__element {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, auto);
            width: 75.713%;
            height: auto;
        }
    }
}