@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "./base/police";
@import "./base/box-sizing";
@import "./utils/variable";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./pages/accueil";
@import "./pages/projets";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/content";
@import "./components/sidebar";
@import "./components/spinner";
@import "./components/app";