@keyframes loader {
    0% {
        transform: translate(0px);
        opacity: 1;
        z-index: 3;
    }

    50% {
        transform: translate(0px);
        opacity: 1;
        z-index: 3;
        left: 0px;
    }

    100% {
        transform: translate(3000px);
        opacity: 1;
        z-index: 1;
    }
}